html, body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Appereance */

nav {
    font-size: 12pt;
    color: black;
    background-color: #ccc;
    padding: 8pt;
    /* border-top-right-radius: 16px; */
    border-bottom-right-radius: 16px;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 8px #888888;
}

menu {
    color: white;
    background-color: #008DD2;
    user-select: none;
    padding: 0;
    margin: 0;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

div.origin ul {
    padding: 0;
    /* margin: 0; */
    list-style-type: none;
}

div.origin ul li {
    display: inline;
    font-size: 16pt;
    text-transform: uppercase;
    cursor: pointer;
}

ul.sorts li img {
    height: 18pt;
}

ul.sorts {
    margin-left: 64pt;
}

div.origin li span,
div.origin li img {
    padding: 4pt;
    margin-left: 12pt;
    border-bottom: 4px solid transparent;
}

div.origin li.active span, div.origin li:hover span,
div.origin li.active img, div.origin li:hover img {
    border-bottom: 4px solid #255A74;
}

article {
    padding: 8pt;
}

article img {
    max-width: 100%;
}

ul.tag-list {
    margin: 0;
    margin-top: 2em;
    padding: 0;
    display: block;
    text-align: center;
}
  
ul.tag-list li {
    cursor: pointer;
    display: inline;
    padding: 2pt;
    margin: 0pt 4pt;
}
  
ul.tag-list li:hover {
    /* background-color: white; */
    /* color: #008DD2; */
    background-color: #255A74;
}
  
ul.tag-list li.size1 { font-size: 8pt; }
ul.tag-list li.size2 { font-size: 10pt; }
ul.tag-list li.size3 { font-size: 12pt; }
ul.tag-list li.size4 { font-size: 16pt; }
ul.tag-list li.size5 { font-size: 18pt; }

div.card-collection {
    display: flex;
    flex-wrap: wrap;
}

menu h2 {
    margin: 0;
    padding: 0;
    padding-left: 8pt;
    padding-top: 4pt;
    font-weight: normal;
    font-size: 16pt;
}

menu h2.tag {
    cursor: pointer;
    border-bottom: 4px solid transparent;
    margin-bottom: 1em;
}

menu div.tag-filter span.pre-text {
    font-size: 24pt;
    margin: 0 12pt;
}

menu h2.tag:hover * {
    border-bottom: 4px solid #255A74;
}

menu div.tag-filter {
    margin-top: 24pt;
}

menu div.tag-filter input {
    width: 290px;
    font-size: 18pt;
    border: 0px;
}

span.cross {
    cursor: pointer;
}

div.card-container { 
    width: 33%; 
}

div.card-container {
    cursor: pointer;
}

div.card {
    padding: 8pt;
}

div.card h3 {
    font-size: 10pt;
    font-weight: normal;
    padding: 0;
    padding-top: 4pt;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.card-background {
    background-color: white;
    height: 100pt;
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.5);
}

div.card-container:hover, div.card-collection div.active {
    background-color: #255A74;
}

/* QR */

.qr-fullscreen {
    background-color: white;
    color: black;
    text-align: center;
}

.qr-link {
    text-align: center;
    font-size: 3vw;
}

.qr-image {
    width: 40%;
}
