html, body {
  border: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

body {
  height: 100%;
}

header {
  background-color: #008DD2;
  color: white;
}

menu {
  color: black;
  background-color: #ECECEC;
  padding: 0;
  margin: 0;
}

ul.mode-selection {
  padding: 0;
  margin: 1em 0;
}

ul.mode-selection li {
  color: white;
  display: inline;
  background-color: #A9ABAE;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 16pt;
}

ul.mode-selection li img {
  height: 1em;
}

ul.mode-selection li span {
  padding: 0 0.5em;
}

ul.mode-selection li.active {
  background-color: #008DD2;
}

ul.mode-selection li.separator {
  padding: 0.5em 0;
  background-color: transparent;
  border-left: 2px dashed #A9ABAE;
}

.card {
  background-color: #fff;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h3, .card p {
  padding: 0;
  margin: 0;
}

.card-background {
  height: 3em;
  background-position: center;
  background-size: cover;
}
