html, body {
  border: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

body {
  height: 100%;
}

header {
  background-color: #008DD2;
  color: white;
}

menu {
  color: black;
  background-color: #ECECEC;
  padding: 0;
  margin: 0;
}

ul.mode-selection {
  padding: 0;
  margin: 1em 0;
}

ul.mode-selection li {
  color: white;
  display: inline;
  background-color: #A9ABAE;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 16pt;
}

ul.mode-selection li img {
  height: 1em;
}

ul.mode-selection li span {
  padding: 0 0.5em;
}

ul.mode-selection li.active {
  background-color: #008DD2;
}

ul.mode-selection li.separator {
  padding: 0.5em 0;
  background-color: transparent;
  border-left: 2px dashed #A9ABAE;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (min-width: 750px) {
  .card-container {
    width: 33%;
  }
}

@media screen and (min-width: 1000px) {
  .card-container {
    width: 25%;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin: 8pt;
}

.card h3, .card p {
  padding: 0;
  margin: 0;
}

.card-background {
  height: 3em;
  background-position: center;
  background-size: cover;
}

ul.tag-list {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul.tag-list li {
  cursor: pointer;
  display: inline;
  padding: 2pt;
  margin: 0pt 4pt;
}

ul.tag-list li:hover {
  color: white;
  background-color: #008DD2;
}

ul.tag-list li.size1 { font-size: 8pt; }
ul.tag-list li.size2 { font-size: 10pt; }
ul.tag-list li.size3 { font-size: 12pt; }
ul.tag-list li.size4 { font-size: 16pt; }
ul.tag-list li.size5 { font-size: 24pt; }
